footer h2, footer p, footer li {
  color: var(--white);
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1em;
  background-color: var(--darkBlue);
}

section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em 0px;
}

#first-sec ul li {
  transform: none;
  max-width: 80vw;
}

#copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1em 0px;
  border-top: 1px var(--grey) solid;
}

footer li a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  color: var(--lightBlue);
}

li a:hover {
  transform: none;
}

ul {
  display: flex;
  flex-direction: column;
  gap: .5em;
  max-width: 75%;
}

#location {
  background-image: url('../imgs/geo-alt-fill.svg');
  background-repeat: no-repeat;
  padding-left: 20px;
}

#email-contact {
  background-image: url('../imgs/envelope-fill.svg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

#number {
  background-image: url('../imgs/telephone-fill.svg');
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

#footer-content p, li {
  font-size: 1em;
}

footer #second-sec li {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  white-space: nowrap;
}

.li-animation a {
  color: var(--white);
}

.li-animation:hover {
  transform: scale(1.1);
}

@media (max-aspect-ratio: 1.05/1) {
  #footer-content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  #copyright {
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }

  #copyright > * {
    min-width: 80vw;
    text-align: center;
    font-size: 1em;
  }

  section {
    align-items: center;
    min-width: 80vw;
  }

  #second-sec {
    text-align: center;
  }
}