.Header {
  min-height: 10vh;
  background-color: var(--grey2);
}

header {
    display: flex;
    flex-direction: row;
    padding: 0vh 4vw;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    position: fixed;
    width: 99vw;
    z-index: 99999;
    background-color: transparent;
    transition: all 200ms;

}

.show {
  background-color: var(--white);
}

header ul {
    display: flex;
    width: 60vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 20px 20px -25px var(--black);
}

nav {
  width: 70vw;
}

header img {
    width: 26vh;
}

ul {
  min-width: 100%;
  z-index: 999;
}

header a, header button, header li {
    text-decoration: none;
    color: var(--black);
    font-family: "Arvo", serif;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button {
    border: none;
    padding: 1em;
    border-radius: .5em;
}

#demo a {
  color: var(--white);
}

li:hover {
    transform: scale(1.05);
}

button:hover {
    transform: scale(1.05);
}

#demo {
    background-color: var(--darkBlue);
    color: var(--white);
}

#client {
    background-color: var(--orange);
}

ul li {
    list-style: none;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle > svg {
  width: 5vh;
  height: 5vh;
}
  
@media (max-aspect-ratio: 1.5 / 1) {
  .menu {
    height: 30vh;
    padding: 2vh 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--white);  
    display: none;
  }
  
  .menu.active {
    display: flex;
    position: absolute;
    top: 10vh;
    min-width: 99vw;
  }
  
  .menu-toggle {
    display: block;
  }

  nav {
    width: auto;
  }
}

/* @media (max-aspect-ratio: 1.25 / 1) {
  .Header {
    margin-bottom: 2em;
  }
} */
  