.About main {
  display: flex;
  height: 100%;
  background-color: var(--grey2);
  flex-direction: column;
  gap: 5em;
  padding-bottom: 5em;
  align-items: center;
  width: 99vw;
}

.About > main {
  background-color: #dfdfdf;
}

#main-about {
  display: flex;
  align-items: center;
  flex-direction: row;
}

#main-about div {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* min-height: 50vh; */
  gap: 4em;
}

ul {
  list-style-type: disc;
}

#main-about p, #main-about li, #main-about strong {
  font-size: 1.5em;
  font-family: "Arvo";
  color: var(--blacks);
  list-style: disc;
}

#main-about p {
  /* min-width: 80vw; */
  text-align: justify;
}

#main-about strong {
  text-align: center;
}

#main-about ul {
  display: flex;
  align-items: center;
  min-width: none;
  width: 50vw;
}

#main-about li {
  font-weight: 100;
  list-style-position: inside;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  padding: 3em;
  background-color: white;
  border-radius: 1.5em;
  width: 35vw;
}

.count-up {
  min-width: 4vw;
}

#main-about li:hover {
  transform: none;
  cursor: auto;
}

@media (max-aspect-ratio: 1.25/1) {

  #main-about {
    flex-direction: column;
    gap: 10vh;
  }

  #main-about p {
    font-size: 1.5em;
    width: 80%;
  }

  #main-about li {
    flex-direction: column;
    width: 75vw;
    text-align: center;
  }

  #main-about div {
    width: 90vw;
    align-items: center;
    gap: 2em;
  }
}

@media (max-aspect-ratio: 1/1) {
  #main-about p {
    font-size: .75em;
    width: 80%;
  }
}