.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 100px;
    z-index: 99;
}

.back-to-top button {
    display: none;
    border: none;
    outline: none;
    background-color: rgb(0, 31, 117);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: transform 0.2s ease-in;
    border: 1px solid white;
    height: 5.5vh;
    width: 5.5vh;
}

.back-to-top button:hover {
    transform: scale(1.1);
}

.back-to-top button.show {
    display: block;
}