.Clients main {
  display: flex;
  height: 100%;
  flex-direction: column;
  min-height: 66vh;
}

.Clients > main {
  /* background-color: var(--grey2); */
  min-height: 80vh;
}

.Clients p {
  max-width: 50vw;
}
#titles {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 2em;
}

#titles p {
  color: black;
}

#main-clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

.logos-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 .5em;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 1em 2em;
  border-radius: 1em;
  height: 150px;
  width: 250px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.logo-item:hover{
  transform: scale(1.05);
}

main p:hover {
  transform: none;
}

.logos-carousel img {
  height: 100%;
  width: 100%;
}

.logos-carousel .logo-item {
  filter: grayscale(0%);
  transition: all .2s ease-in;
}

.logo-link:hover {
  transform: scale(1.0);
}

@media (max-aspect-ratio: 1.25/1) {

  .Clients main {
    gap: 2em;
    padding-bottom: 2em;
  }

  #main-clients {
    align-items: center;
  }

  #titles {
    align-items: center;
    width: 100%;
  }

  #page1 img {
    width: 80vw;
    object-fit: contain;
  }

  #page1 p {
    text-align: center;
    font-size: 4vw;
    max-width: 80vw;
  }

  #page1 #title-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 1em 2em;
    border-radius: 1em;
    height: 24vw;
    width: 40vw;
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  .logos-carousel {
    gap: 4vw;
  }
}

@media (max-aspect-ratio: 1/1) {
  .logo-item {
    height: 36vw;
    width: 60vw;
  }
}