/* .FormDemo {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.FormDemo form {
  display: flex;
  justify-content: space-around;
  background-color: var(--grey3);
  padding: 2em 4em;
  border-radius: 2em;
  width: 50vw;
  height: 140vh;
  margin: 8em 0;
}

.FormDemo form h1 {
  padding-top: 0;
  text-align: center;
}

.FormDemo main {
  display: flex;
  align-items: center;
}

.div-radio-inputs {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 40vw;
}

.div-text-inputs {
  display: flex;
  flex-direction: column;
  gap: .5em;
  width: 40vw;
}

.div-text-inputs input {
  width: 100%;
  padding: 1em;
  font-size: 1em;
}

.radio-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--white);
  padding: 1em 1em;
  gap: .5em;
  border-radius: 1em;
  cursor: pointer;
  transition: all .2s ease;
}

.radio-inputs svg, .radio-inputs p {
  color: var(--black);
}

.radio-inputs svg {
  min-width: 48px;
  min-height: 48px;
}

.radio-inputs:hover svg {
  fill: var(--white);
}

.radio-inputs:hover p {
  color: var(--white);
}

.radio-inputs:hover {
  background-color: var(--darkBlue);
}

.radio-inputs.selected {
  border: 5px solid var(--grey);
  background-color: var(--darkBlue);
}

.radio-inputs.selected p {
  color: var(--white); 
}

.radio-inputs.selected svg {
  fill: var(--white);
}


main svg {
  transition: .2s all ease-in-out;
  cursor: pointer;
}

#div-radio-inputs :hover svg {
  transform: translateY(-12px) scale(1.05);
}

@media (max-aspect-ratio: 1/1) {
  .FormDemo form {
    width: 90vw;
    height: 140vh;
  }

  .div-text-inputs, .div-radio-inputs {
    width: 80vw;
  }

  label {
    font-size: 4vh;
  }

  h1 {
    font-size: 5vh;
  }

  .radio-inputs svg {
    min-width: 32px;
    min-height: 32px;
  }

  .FormDemo p {
    max-width: 50%;
  }
}