@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: "Euclid";
  src: url('../fonts/Euclid_Circular_B_Light.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100%;
  background-color: var(--grey2);
  flex-direction: column;
  gap: 5em;
  padding-bottom: 5em;
  align-items: center;
}

#main-div-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 80vw;
}

#main-div-services a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--darkBlue);
  height: 20vh;
  padding: 2em;
  width: 200px;
  border-radius: 1em;
  cursor: pointer;
}

#main-div-services p {
  text-align: center;
}

main svg {
  transition: .2s all ease-in-out;
  cursor: pointer;
}

#main-div-services :hover svg {
  transform: translateY(-12px) scale(1.05);
}

@media (max-aspect-ratio: 0.8/1) {
  #main-div-services {
    justify-content: center;
  }
}