.button-zap {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    padding: 1em;
    background-color: green;
    border-radius: .5em;
    border: 1px white solid;
    transition: transform 0.2s ease-in;
    height: 5.5vh;
    width: 5.5vh;
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a:hover {
    transform: none;
}

.button-zap a {
    max-height: 30px;
    max-width: 30px;
}

.button-zap:hover {
    transform: scale(1.1);
}