@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 90vh;
  background-color: rgb(202, 202, 202);
  padding: 2vw 2vw;
  flex-direction: column;
  gap: 3em;
}

h1 {
  font-size: 4vw;
  max-width: 50vw;
  font-family: "Arvo", serif;
  font-weight: 100;
}

p {
  font-family: 'Courier Prime', Courier, monospace;
  font-size: 1vw;
}

#titles {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

#button-actions {
  display: flex;
  flex-direction: row;
  gap: 2em;
}