.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in, transform 500ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-out, transform 500ms ease-out;
}

main {
  display: flex;
  height: 100%;
  background-color: var(--grey2);
  /* padding: 2vw 0vw; */
  flex-direction: column;
}

.App main:first-child {
  min-height: 100vh;
}

a, button, li {
  text-decoration: none;
  color: var(--black);
  font-family: "Arvo", serif;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button {
  border: none;
  padding: 1em;
  border-radius: .5em;
}

h2 {
  font-family: 'Courier Prime', Courier, monospace;
  font-weight: 100;
  font-size: 1.5vw;
  max-width: 75vw;

}

#demo a {
  color: white;
}

#titles {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 2em;
}

#button-actions {
  display: flex;
  flex-direction: row;
  gap: 2em;
}

#cliente {
  background-color: var(--orange);
}

#button-actions button {
  width: 40%;
  height: 8vh;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-app {
  display: flex;
  flex-direction: row;
  gap: 2em;
  min-height: 90vh;
  align-items: flex-start;
  padding-top: 20vh;
  width: 99vw;
  height: 100vh;
  background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/19938741-premio-fundo-projeto-com-onda-padronizar-dentro-cinzento-cor-vetor.jpg);
  background-repeat: no-repeat;
  background-size: 210vh;
  background-position: center;
  background-size: 100% 100%;
}

#page2 {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

#main-app img {
  width: 40vw;
  object-fit: contain;
}

.logos-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 1em 2em;
  border-radius: 1em;
  height: 150px;
  width: 250px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.logo-item:hover{
  transform: scale(1.05);
}

main p:hover {
  transform: none;
}

.logos-carousel img {
  height: 100%;
  width: 100%;
}

.logos-carousel .logo-item {
  filter: grayscale(100%);
  transition: all .2s ease-in;
}

.logos-carousel .logo-item:hover {
  filter: grayscale(0%);
}

.logo-link:hover {
  transform: scale(1.0);
}

@media (max-aspect-ratio: 1.25/1) {

  main {
    /* gap: 2em; */
    padding-bottom: 2em;
    /* padding-top: 6em; */
  }
  
  #main-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4em;
    height: fit-content;
  }

  #page2 {
    align-items: center;
  }

  #titles {
    align-items: center;
    width: 100%;
  }

  #main-app img {
    width: 80vw;
    object-fit: contain;
  }

  #main-app p {
    text-align: center;
    font-size: 4vw;
    max-width: 80vw;
  }

  #main-app #title-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #button-actions {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2em;
  }

  .logo-item {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    padding: 1em 2em;
    border-radius: 1em;
    height: 24vw;
    width: 40vw;
    transition: transform 0.2s ease;
    cursor: pointer;
  }

  #button-actions button {
    width: 75%;
    height: 8vh;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logos-carousel {
    gap: 4vw;
  }

  h2 {
    font-size: 1em;
    text-align: justify;
  }
}