@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: "Euclid";
  src: url('./fonts/Euclid_Circular_B_Light.ttf');
}

:root {
  --white: #fff;
  --black: #000;
  --grey: #808080;
  --grey2: #CACACA;
  --darkBlue: #001F75;
  --lightBlue: #4ea8ed;
  --orange: #ff5000d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100%;
  background-color: var(--grey2);
  padding: 2vw 2vw;
  flex-direction: column;
  gap: 5em;
  padding-bottom: 5em;
  align-items: center;
}

h1 {
  font-size: 5vw;
  max-width: 60vw;
  font-family: "Euclid";
}

#main-div-contacts p, #main-div-contacts a {
  font-family: 'Courier Prime', Courier, monospace;
  font-size: 1.5vw;
  max-width: 50vw;
  color: var(--lightBlue);
  transition: transform 0.2s ease;
  cursor: pointer;
}

#main-div-contacts p:hover {
  transform: scale(1.025);
}

#main-div-contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
}

#main-div-contacts h2 {
  color: var(--white);
}

h2 {
  font-size: 2.5em;
}

.div-contacts {
  display: flex;
  flex-direction: column;
  width: 30vw;
  gap: 1em;
  background-color: var(--darkBlue);
  padding: 2em;
  border-radius: 1.5em;
  min-height: 30vh;
}

.div-contacts div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5em;
}

#titles {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 2em;
}

#titles p {
  color: black;
}

#page2 {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

#page2 h1 {
  max-width: 90vw;
}

#page1 img {
  width: 40vw;
  object-fit: contain;
}

.logos-carousel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.logo-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 1em 2em;
  border-radius: 1em;
  height: 150px;
  width: 250px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.logo-item:hover{
  transform: scale(1.05);
}

.logos-carousel img {
  height: 100%;
  width: 100%;
}

.logos-carousel .logo-item {
  filter: grayscale(100%);
  transition: all .2s ease-in;
}

.logos-carousel .logo-item:hover {
  filter: grayscale(0%);
}

.logo-link:hover {
  transform: scale(1.0);
}


:root {
  --scrollbar-track-color: var(--white);
  --scrollbar-thumb-color: var(--darkBlue);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

@media (max-aspect-ratio: 1.25/1) {
  h1 {
    font-size: 2.5em;
    min-width: 90vw;
    font-family: "Euclid";
    text-align: center;
  }

  main p {
    font-size: 1em;
    min-width: 100%;
  }

  .div-contacts {
    min-width: 60vw;
  }

  #main-div-contacts a {
    font-size: 2em;
  }

}

@media (max-aspect-ratio: 0.8/1) {
  .div-contacts {
    min-width: 90vw;
  }

  #main-div-contacts a {
    font-size: 3em;
  }
}

@media (max-aspect-ratio: 0.6/1) {
  #main-div-contacts h2 {
    font-size: 1.5em;
  }
}

