@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@font-face {
  font-family: "Euclid";
  src: url('./fonts/Euclid_Circular_B_Light.ttf');
}

:root {
  --white: #fff;
  --black: #000;
  --grey: #808080;
  --grey2: #CACACA;
  --darkBlue: #001F75;
  --lightBlue: #4ea8ed;
  --orange: #ff5000d6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  height: 100%;
  background-color: var(--grey2);
  padding: 2vw 2vw;
  flex-direction: column;
  gap: 5em;
  padding-bottom: 5em;
  align-items: center;
}

#main-div-services {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2em;
  width: 80vw;
}

#main-div-services div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--darkBlue);
  height: 20vh;
  padding: 2em;
  width: 200px;
  border-radius: 1em;
  cursor: pointer;
}

#main-div-services p {
  text-align: center;
}

h1 {
  font-size: 5vw;
  max-width: 60vw;
  font-family: "Euclid";
}

h2 {
  font-size: 2.5em;
}

main svg {
  transition: .2s all ease-in-out;
  cursor: pointer;
}

main svg:hover {
  transform: translateY(-12px) scale(1.05);
}


:root {
  --scrollbar-track-color: var(--white);
  --scrollbar-thumb-color: var(--darkBlue);
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

@media (max-aspect-ratio: 1.25/1) {
  h1 {
    font-size: 7vh;
    min-width: 90vw;
    font-family: "Euclid";
    text-align: center;
  }

  main p {
    font-size: 1em;
    min-width: 100%;
  }

}

@media (max-aspect-ratio: 0.8/1) {
  #main-div-services {
    justify-content: center;
  }
}

@media (max-aspect-ratio: 0.4/1) {

}